---
---
@import "variables";
@import "bootstrap/bootstrap";

html {
height: 100%;
  box-sizing: border-box;
}

body { 
 position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}


th, td {
    padding: 10px;
}

.md-container {
margin: auto;
width: 95%;
border-radius: 20px;
	background-color: white;
	max-width:1000px;
	padding:20px;
	
}

.card-img-custom{
  width:100%;
  height:auto;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}


.carousel-indicators .active {
  background-color: #444;
}

.carousel-content {
    color:black;
    display:flex;
    padding: 0px 30px 0px 30px;
}

.content h1 {
	font-size: 1.9rem;
	color: #333;
	text-decoration: underline;
}

.content h2 {
	font-size: 1.5rem;
}

.content h3 {
	font-size: 1.2rem;
}

.footer-bar {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@media (max-width: 900px) { 
	
	.card-deck-wrapper {margin-right:0;margin-left:0;}
	.card-deck {
	    display: block;
	    width: 100%;
	    margin-bottom: .75rem;
	    table-layout: fixed;
	    border-spacing: 1.25rem 0;
	}
	.card-deck .card {
	    display: block;
	    margin-bottom: .75rem;
	    vertical-align: top;
	}
}
