---
---
@import "variables";
@import "bootstrap/bootstrap";


th, td {
    padding: 10px;
}

.md-container {
margin: auto;
width: 95%;
border-radius: 20px;
	background-color: white;
	max-width:1000px;
	padding:20px;
	
}

.card-img-custom{
  width:100%;
  height:auto;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}


.carousel-indicators .active {
  background-color: #444;
}

.carousel-content {
    color:black;
    display:flex;
    padding: 0px 30px 0px 30px;
}

.content h1 {
	font-size: 1.9rem;
	color: #333;
	text-decoration: underline;
}

.content h2 {
	font-size: 1.5rem;
}

.content h3 {
	font-size: 1.2rem;
}
