---
---
@import "variables";
@import "bootstrap/bootstrap";

body { padding-top: 70px; }

.starter-template {
  text-align: center;
  margin-top: 10rem;

  .lead {
    font-weight: 200;
  }
}


.todo:before {
  content: "TODO: ";
  color: red;
}

