##Third-Party libs
resources/3rdparty/l3pp/.git/
resources/3rdparty/gtest-1.7.0/
resources/3rdparty/gmm-5.2/
resources/3rdparty/cudd-3.0.0/
resources/3rdparty/cudd-3.0.0/config.h.in
resources/3rdparty/cudd-3.0.0/aclocal.m4
resources/3rdparty/cudd-3.0.0/Makefile.in
resources/3rdparty/xercesc-3.1.2/
#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.tlog
*.lastbuildstate
*.pdb
*.idb
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
CMakeFiles/
CPackConfig.cmake
# The build Dir
/*build*/
build//CMakeLists.txt
/*.vcxproj
/*.filters
/*.sln
#Temp texteditor files
*.orig
*.*~
nbproject/
.DS_Store
.idea
.vscode
*.out
