<div class="panel panel-primary">
  <div class="panel-heading">
    <a href=".{{ include.target }}" data-toggle="collapse">
      <div class="{{ include.target }} collapse in">Show {{ include.name }}
        <div class="pull-right">
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </div>
      </div>
      <div class="{{ include.target }} collapse">Hide {{ include.name }}
        <div class="pull-right">
          <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
        </div>
      </div>
    </a>
  </div>
</div>
