<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
<!-- Brand -->
<a class="navbar-brand" href="{{ site.github.url }}/index.html">Storm</a>
  <ul class="nav navbar-nav">
    {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
      {% if p.navigation_weight %}
        <li class="nav-item">
          <a href="{{ p.url | prepend: site.github.url  }}" class="nav-link {% if p.url == page.url %}active{% endif %}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="nav-item">
       <a href="http://github.com/moves-rwth/storm" class="nav-link"><i class="fa fa-github" aria-hidden="true"></i>source code</a>
    </li>
  </ul>
</nav>
