

<nav class="navbar navbar-fixed-top navbar-toggleable-md  navbar-inverse bg-inverse"">
<!-- Brand -->
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ site.github.url }}/index.html">Storm</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
      {% if p.navigation_weight %}
        <li class="nav-item">
          <a href="{{ p.url | prepend: site.github.url  }}" class="nav-link {% if p.url == page.url %}active{% endif %}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="nav-item">
       <a href="http://github.com/moves-rwth/storm" class="nav-link"><i class="fa fa-github" aria-hidden="true"></i> source code</a>
    </li>
   <li class="nav-item">
      <a href="https://moves-rwth.github.io/stormpy/" class="nav-link"><i class="icon-python" style="color:white"></i> python bindings</a>
   </li>
  </ul>
  </div>
</nav>
