<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
<!-- Brand -->
<a class="navbar-brand" href="index.html">Storm</a>
  <ul class="nav navbar-nav">
    {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
      {% if p.navigation_weight %}
        <li class="nav-item">
          <a href="{{ p.url }}" class="nav-link {% if p.url == page.url %}active{% endif %}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
