<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
        <div class="navbar-header">
        	<a href="{{ site.github.url }}/index.html" class="navbar-brand">Storm</a>
          	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
        	<ul class="nav navbar-nav">
				{% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
    			{% for p in navigation_pages %}
      				{% if p.navigation_weight %}
				    	<li class="nav-item">
				        	<a href="{{ p.url | prepend: site.github.url  }}" class="nav-link {% if p.url == page.url %}active{% endif %}">
            				{{ p.title }}
          					</a>
        				</li>
      				{% endif %}
				{% endfor %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
			       <a href="http://github.com/moves-rwth/storm" class="nav-link"><i class="fa fa-github" aria-hidden="true"></i> source</a>
    			</li>
				<li class="nav-item">
      				<a href="https://moves-rwth.github.io/stormpy/" class="nav-link"><i class="icon-python"></i> stormpy</a>
   				</li>
          	</ul>
        </div>
      </div>
    </div>