<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  
  {% include navbar.html %}
  
  </br>
    <div class="md-container">
      <h1>{{ page.title }}</h1>
    <div class="content">
    {{ content }}
    </div>
    </div>

    {% include footer.html %}
<script>
    $(function(){
      $("#papers_storm").load("https://www-i2.informatik.rwth-aachen.de/pub/index.php?title=&topics=storm_paper&years=0&author_url=");
      $("#papers_storm_techniques").load("https://www-i2.informatik.rwth-aachen.de/pub/index.php?title=&topics=storm_techniques&years=0&author_url=");
      $("#papers_use_storm").load("https://www-i2.informatik.rwth-aachen.de/pub/index.php?title=&topics=use_storm&years=0&author_url=");
    });
</script>


  </body>
</html>
