<!DOCTYPE html>
<html lang="en">
    {% include includes/head.html %}
    <body>

    {% include includes/navbar.html %}
    <div class="container">
        <div id="myCarousel" data-interval="6000" data-pause="false" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="jumbotron bg-front">
                        <h1>A Storm is coming.</h1>
                        <p>A modern model checker for probabilistic systems.</p>
                        <div>
                            <a href="about.html" class="btn btn-default btn-md active" role="button" aria-pressed="true">Read more</a>
                        </div>
                        <i class="wi wi-thunderstorm bg-symbol symbol-storm" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="item">
                    <div class="jumbotron bg-front">
                        <h1>Efficient.</h1>
                        <p>Its C++17 core focuses on time and memory efficiency.</p>
                        <div>
                            <a href="about.html" class="btn btn-default btn-md active" role="button" aria-pressed="true">Read more</a>
                        </div>
                        <i class="fa fa-tachometer bg-symbol" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="item">
                    <div class="jumbotron bg-front">
                        <h1>Modular.</h1>
                        <p>Solver interfaces make it easy to integrate new solvers.</p>
                        <div>
                            <a href="about.html" class="btn btn-default btn-md active" role="button" aria-pressed="true">Read more</a>
                        </div>
                        <i class="fa fa-cogs bg-symbol" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="item">
                    <div class="jumbotron bg-front">
                        <h1>Versatile.</h1>
                        <p>Treat your domain specific models without translating them.</p>
                        <div>
                            <a href="about.html" class="btn btn-default btn-md active" role="button" aria-pressed="true">Read more</a>
                        </div>
                        <i class="fa fa-language bg-symbol" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="item">
                    <div class="jumbotron bg-front">
                        <h1>Easy.</h1>
                        <p>Enjoy access to the efficient core with the ease of python.</p>
                        <div>
                            <a href="about.html" class="btn btn-default btn-md active" role="button" aria-pressed="true">Read more</a>
                        </div>
                        <i class="icon-python bg-symbol" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Description</h3>
                            </div>
                            <div class="panel-body">
                                Storm is a tool for the analysis of systems involving random or probabilistic phenomena. Given an input model and a quantitative specification, it can determine whether the input model conforms to the specification. It has been designed with performance and modularity in mind.
                                <div class="pull-right">
                                    <a href="{{ '/getting-started.html' | relative_url }}" class="btn btn-sm btn-default">Getting started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Modeling formalisms</h3>
                            </div>
                            <div class="panel-body">
                                Storm is built around discrete- and continuous-time Markov models:
                                <ul>
                                    <li>Discrete-time Markov Chains</li>
                                    <li>Markov Decision Processes</li>
                                    <li>Continuous-time Markov Chains</li>
                                    <li>Markov Automata</li>
                                    <li>Parametric Markov Models</li>
                                    <li>Partially Observable Markov Models</li>
                                </ul>
                                <div class="pull-right">
                                    <a href="{{ '/documentation/background/models.html' | relative_url }}" class="btn btn-sm btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Input languages</h3>
                            </div>
                            <div class="panel-body">
                                Storm supports several types of input:
                                <ul>
                                    <li>PRISM</li>
                                    <li>JANI</li>
                                    <li>GSPNs</li>
                                    <li>DFTs</li>
                                    <li>explicit</li>
                                </ul>
                                <div class="pull-right">
                                    <a href="{{ '/documentation/background/languages.html' | relative_url }}" class="btn btn-sm btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Properties</h3>
                            </div>
                            <div class="panel-body">
                                Supported model checking queries include
                                <ul>
                                    <li>Reachability and Reach-Avoid Probabilities
                                    <li>PCTL, CSL, and LTL Specifications</li>
                                    <li>Expected Accumulated Rewards</li>
                                    <li>Long-run Average Rewards</li>
                                    <li>Conditional Probabilities</li>
                                    <li>Multi-objective Analysis</li>
                                </ul>
                                <div class="pull-right">
                                    <a href="{{ '/documentation/background/properties.html' | relative_url }}" class="btn btn-sm btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">News</h3>
                    </div>
                    <div class="panel-body">
                        {% for post in site.posts limit:2 %}
                        <div class="row">
                            <div class="col-lg-12">
                            {{ post.date | date_to_long_string }}
                            <h4>{{ post.title }}</h4>
                            {{ post.excerpt }}
                            <div class="pull-right">
                                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default">Read more</a>
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <hr />
                        </div>
                        {% endfor %}
                        {% for post in site.posts offset:2 limit:1 %}
                        <div class="row">
                            <div class="col-lg-12">
                            {{ post.date | date_to_long_string }}
                            <h4>{{ post.title }}</h4>
                            {{ post.excerpt }}
                            <div class="pull-right">
                                <a href="{{ post.url | prepend: site.baseurl}}" class="btn btn-sm btn-default">Read more</a>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include includes/footer.html %}
  </body>
</html>
